# Back-Up Files #
#################
*~

# Binary Files #
################
.DS_Store

# Compiled source #
###################
*.o
*analyzeTree
*produceTree

# ROOT Files #
##############
*.root
TestBeamDataset_*.root
data/
data/*

# Text Files #
##############
*PFP.txt
setup_files/Production_ConfigFile.txt

