# Back-Up Files #
#################
*~

# Compiled source #
###################
*.o
analyzeTree
produceTree

# ROOT Files #
##############
*.root
data/
data/*

# Text Files #
##############
*PFP.txt
setup_files/Production_ConfigFile.txt
